<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On" role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.LocalDatasource" description="Foundation Local Datasource" dependencies="Foundation.Serialization" extends="Helix.Foundation">
          <predicate>
            <include name="Templates.RenderingOptionsField" database="master" path="/sitecore/templates/System/Layout/Sections/Rendering Options/Editor Options/Supports Local Datasource">
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>