<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
      <event name="item:added">
        <handler
          type="Sitecore.HabitatHome.Foundation.LocalDatasource.Infrastructure.Events.UpdateLocalDatasourceReferences, Sitecore.HabitatHome.Foundation.LocalDatasource"
          method="OnItemAdded" />
      </event>
      <event name="item:copied">
        <handler
          type="Sitecore.HabitatHome.Foundation.LocalDatasource.Infrastructure.Events.UpdateLocalDatasourceReferences, Sitecore.HabitatHome.Foundation.LocalDatasource"
          method="OnItemCopied" />
      </event>
    </events>
    <pipelines>
      <getRenderingDatasource>
        <processor
          type="Sitecore.HabitatHome.Foundation.LocalDatasource.Infrastructure.Pipelines.GetLocalDatasourceLocation, Sitecore.HabitatHome.Foundation.LocalDatasource"
          patch:before="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.CheckDialogState, Sitecore.Kernel']" />
      </getRenderingDatasource>
    </pipelines>
    <settings>
      <setting name="Sitecore.HabitatHome.Foundation.LocalDatasource.LocalDatasourceFolderName" value="_Local" />
      <setting name="Sitecore.HabitatHome.Foundation.LocalDatasource.LocalDatasourceFolderTemplate" value="{3A5161BC-DB66-4F7F-8DD0-8B5E505123C7}" />
    </settings>
  </sitecore>
</configuration>