[Oo]bj/
src/**/[Bb]in/
.nuget/
_ReSharper.*
*.user
*.cache
*.suo
*.userprefs
*.sln.ide
license.xml
lib/Modules/*
.vs
/node_modules
.vscode
*.log
*.zip
*.user.config
*.user.js
*.user.targets
packages/
*sc-internal*
/generate-scinternal-files.ps1
azureuser-config.json

tools/*
!tools/packages.config

/Azure/tools/*
!/Azure/tools/packages.config

/data
!/data/**/.gitkeep

*metaproj*
Publish
!/Publish/.gitkeep
publish_temp

**/backstop/*.json
**/backstop_data/bitmaps_test
**/backstop_data/engine_scripts
**/backstop_data/html_report

**/codegen/*
**/node_modules/*
**/sitecore/shell/client/Applications/MarketingAutomation/**/*.js
**/sitecore/shell/client/Applications/MarketingAutomation/**/*.js.map