<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net471" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net471" />
  <package id="Sitecore.Analytics" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.ExperienceForms" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.ExperienceForms.Data.SqlServer" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.ExperienceForms.Mvc" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Framework.Conditions" version="4.0.0" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.XConnect" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Client" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.XConnect.Service.Plugins" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Xdb.MarketingAutomation.Core" version="9.2.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net471" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net471" />
  <package id="System.Interactive.Async.Providers" version="3.1.1" targetFramework="net471" />
  <package id="System.Memory" version="4.5.2" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net471" />
</packages>