<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="On">
        <unicorn>
            <configurations>
              <configuration name="Feature.Media" description="Feature Media" dependencies="Foundation.*" extends="Helix.Feature">
                <targetDataStore physicalRootPath="$(corporateSourceFolder)\Feature\Media" useDataCache="false" singleInstance="true" />
                <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                  <include name="CustomExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Feature/Habitat Home/Media" />
                  <include name="Templates" database="master" path="/sitecore/templates/Feature/Habitat Home/Media" />
                  <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Habitat Home/Media" />                
                </predicate>
              </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>