@using Sitecore.Demo.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="container">
    <div class="row featurette">
        <div class="col-sm-6 order-sm-2">
            <h2 class="featurette-heading">
                @Html.Sitecore().Field(Sitecore.HabitatHome.Feature.Team.Templates.ContactInfo.Fields.ContactTitle, Model)    
            </h2>
            <p class="lead">
                @Html.Sitecore().Field(Sitecore.HabitatHome.Feature.Team.Templates.ContactInfo.Fields.ContactBody, Model)
            </p>
        </div>
        <div class="col-sm-6 order-sm-1">
            @Html.Sitecore().ImageField(Sitecore.HabitatHome.Feature.Team.Templates.MemberInfo.Fields.TeamMemberPhoto, Model.Item)
        </div>
    </div>
</div>