<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration name="Feature.Team" description="Feature Team" dependencies="Foundation.*" extends="Helix.Feature">
          <targetDataStore physicalRootPath="$(corporateSourceFolder)\Feature\Team" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Habitat Home/Team" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Habitat Home/Team" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>